domain          = "your_domain_URL"                 
aws_region      = "the_AWS_Region_to_use"           
profile         = "your_SSO_user_profile"           
route53_zone_id = "ZXXXXXX_Zone_ID_of_your_domain"  
instance_tupe   = "e.g: T2.micro"                     
ami_id          = "ami-XXXXX used. This projects Ubuntu"
new_user        = "sudo user to login EC2 Instances"     
new_password    = "sudo user password"                   
local_ip        = "Your IP Address. to secure log in /32 access"    
db_username     = "DB username with full access"         
db_password     = "DB password"                          
install_dir     = "Directory to install application. /mnt/efs/www/html/opencart"      